<phpunit
    colors="true"
    defaultTestSuite="all"
    failOnEmptyTestSuite="false"
    failOnWarning="true"
    failOnRisky="true"
    failOnDeprecation="true"
    failOnNotice="true"
    failOnSkipped="true"
    failOnIncomplete="true"
>
    <testsuites>
        <testsuite name="all">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
